@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

body {
    background-color: #0d0d0d !important;
    font-family: 'Bricolage Grotesque', sans-serif !important;
}

/* Navigation bar */
@media only screen and (min-width: 992px) {
    .navbar .container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    .navbar .container {
        display: inline !important;
    }
}

.navbar .navbar-nav {
        margin-top: 0.5em;
        border-top: 2px solid #cfb442;
        border-bottom: 2px solid #cfb442;
}

.navbar-brand img {
    width: 25%;
} 

.nav-link {
    color: rgba(207,180,66, 0.6) !important;
}

.nav-link:hover {
    color: rgba(207,180,66, 1) !important;
}

.navbar-toggler {
    border: transparent !important;
}

.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28220, 180, 44, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
    --bs-dropdown-bg: #000 !important;
    --bs-dropdown-link-hover-bg:  transparent !important;
}

.dropdown-item {
    color: rgba(207,180,66, 0.6) !important;
    --bs-dropdown-link-active-bg: transparent;
}

.dropdown-item:hover {
    color: rgba(207,180,66, 1) !important;
}


/* footer */
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer ul {
    margin: 0;
    padding: 0;
}

#social-media a {
    color:#cfb442;
    font-size:200%;
} 

/* Home image */
.home-image {
    height: 500px;
    padding-top: 20px;
    width: 100%;
    object-fit: cover;
}

/* Artist information page section */
/* .container-fluid {
    padding: 75px 0px;
} */

.section-column {
    text-align: center;
    color: #cfb442;
}

/* heading */
h1{
    color: #cfb442 !important;
    text-transform: uppercase;
    padding: 70px 0px;
    text-align: center;
    letter-spacing: 5px;
}

h2 {
    color: #000 !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0px;
}

.booking-image {
    width: 200px;
    object-fit: cover;
}

.design-background{
    background-color: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */
.form-container{
    width:40%;
}

.form-submit {
    padding: 50px 0px;
}

.form-control {
    margin: 10px 0;
}

.img-background {
    background-image: url("/static/assets/images/studio-transparent.jpg");
    background-position: center;
    height: auto;
    padding-top: 10px;
    width: 75%;
    object-fit: cover;
    margin: 50px 0px;
    border-radius: 25px;
}

.login-header {
    color: #000 !important;
    font-weight: bolder;
    letter-spacing: 5px;
}

.booking-label {
    color: #0d0d0d !important;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: large;
}

.btn {
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* studio google map */
#map {
    height: 500px;
    margin-top: 40px;
  }

/* gallery */
.gallery {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* dashboard */
.card-body {
    background-image: url("/static/assets/images/studio-transparent.jpg");
    background-position: center;
}

.table {
    --bs-table-bg: transparent !important;
}

/* flash design images */
.img-fluid {
    max-height: 300px;
    padding: 20px;
}

.grow img{
    transition: 1s ease;
    }
    
.grow img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}


