@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

body {
    background-color: #0d0d0d !important;
    font-family: 'Bricolage Grotesque', sans-serif !important;
}

p {
    color: #cfb442;
}

/* Navigation bar */
.navbar .navbar-nav {
        margin-top: 0.5em;
        border-top: 2px solid #cfb442;
        border-bottom: 2px solid #cfb442;
}

.navbar-brand img {
    width: 25%;
} 

.nav-link {
    color: rgba(207,180,66, 0.6) !important;
}

.nav-link:hover {
    color: rgba(207,180,66, 1) !important;
}

.navbar-toggler {
    border: transparent !important;
}

.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28220, 180, 44, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
    --bs-dropdown-bg: #000 !important;
    --bs-dropdown-link-hover-bg:  transparent !important;
}

.dropdown-item {
    color: rgba(207,180,66, 0.6) !important;
    --bs-dropdown-link-active-bg: transparent;
}

.dropdown-item:hover {
    color: rgba(207,180,66, 1) !important;
}

/* footer */
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer ul {
    margin: 0;
    padding: 0;
}

#social-media a {
    color:#cfb442;
    font-size:200%;
} 

/* Home image */
.home-image {
    height: 500px;
    padding-top: 20px;
    width: 100%;
    object-fit: cover;
}

/* headings */
h1{
    color: #cfb442 !important;
    text-transform: uppercase;
    padding: 70px 0px;
    text-align: center;
    letter-spacing: 5px;
}

h2 {
    color: #000 !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0px;
}

h4 {
    color: #000 !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px;
}

.bold-header {
    color: #000 !important;
    font-weight: bolder;
    letter-spacing: 5px;
}

/* general styling */
.img-background {
    background-image: url("/static/assets/images/studio-transparent.jpg");
    background-position: center;
    height: auto;
    padding-top: 10px;
    width: 75%;
    object-fit: cover;
    margin: 50px 0px;
    border-radius: 25px;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* studio google map */
#map {
    height: 500px;
    margin-top: 40px;
  }

.studio-address {
    color: #cfb442 !important;
    text-align: center;
}

/* gallery */
.gallery {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* login link */
.login-link{
    color: #000;
    margin: 50px;
    text-decoration: none;
}

.login-link:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
}

/* flash design images */
.img-fluid {
    max-height: 300px;
    padding: 20px;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: black;
}

.card:hover .overlay {
opacity: 0.9;
}

.text {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

/* user booking form styles */
.booking-label {
    color: #0d0d0d !important;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: large;
}

select {
    width: 60%;
    text-align: center;
    height: 40px;
    background: transparent;
    border: #000 2px solid;
}

input {
    text-align: center;
}

/* enquiry form */
#id_enquiry {
    width: 60%;
    min-height: 150px;
    background: transparent;
    border: #000 2px solid;
    border-radius: 5px;
}

/* link to send enquiry */
p a {
    color: #cfb442;
    font-weight: bolder;
}

p a:hover {
    text-decoration: underline;
    color: #ffdf50;

}

/* dashboard */
.card-body {
    background-image: url("/static/assets/images/studio-transparent.jpg");
    background-position: center;
}

.table {
    --bs-table-bg: transparent !important;
    border-color: transparent !important;
}

.booking-image {
    width: 200px;
    object-fit: cover;
}

/* booking image on customer dashboard  */
#booking-image {
    height: 150px;
    width: 150px;
}

/* form */
.form-container{
    width:40%;
}

.form-submit {
    padding: 50px 0px;
}

.form-control {
    margin: 10px 0;
}

/* review text input */
#id_review {
    width: 60%;
    min-height: 150px;
    background: transparent;
    border: #000 2px solid;
    border-radius: 5px;
}

/* Media queries to change navigation bar */
@media only screen and (max-width: 992px) {
    .navbar .container {
        display: inline !important;
    }
}
@media only screen and (min-width: 992px) {
    .navbar .container {
        flex-direction: column;
    }
}

/* Media query small screens */
@media only screen and (max-width: 500px) {
    h2 {
        font-size: small !important;
    }
    #booking-image {
        height: 50px !important;
        width: 50px !important;
    }
    th, td {
        margin: 0 !important;
        padding: 20px 0 !important;
        font-size: small;
    }
    .card-body {
        padding: 0 !important;
    }
    .form-container {
        width: 80% !important;
    }
    .img-background {
        width: 90% !important;
        padding: 0 !important;
    }
}