{% block content %}

<section class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 text-center">
            <div>
                <h1>MEET LIV</h1>
                <p>My name is Olivia Harper. I am a tattoo artist based in Wisbech. My tattoo journey began in October 2019, 
                    I was an apprentice for a few months. Circumstances changed and I had to stop unfortunately. For a couple years, 
                    I had lost hope in ever achieving my dream to be a tattooist. Then at the start of 2022, I found the determination to try again. 
                    Then in September 2022, I open my studio door and began my very own business. I am now the proud owner of BeeInkspired Tattoo, 
                    I mainly special in black and grey realism.</p>
            </div>
        </div>
        <div class="col-md-3 section-column p-0">
            <img src="{% static 'assets/images/oliva-harper.jpg' %}" alt="Photo of Olivia Harper" class="w-100">
        </div>
    </div>
</section>

{%endblock%}