{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Current Flash Designs</h1>
    <p class="text-center">
        If you have a more specific design or would like one of the flash designs
        tweaked to your liking, please send me an <a href="{% url 'enquire' %}"> enquiry</a> and we can work something out!
    </p>
    <div class="row mt-5">
	{% for design in designs %}
        <div class="col-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top img-fluid img-thumbnail" src="{{ design.image.url }}" alt="{{ design.name }}">
                <div class="overlay">
                    <div class="text"><h1>{{ design.name }}</h1></div>
                </div>
            </div>
        </div>
    {% endfor %} 
    </div>
</div>

<div class="img-background mx-auto text-center">
    <h1 class="login-header">Book</h1>
    <p class="text-dark">
        Please note my flash design appointments start at 9AM daily and typically lasts up to an hour. 
        <br>
        The charge is a flat rate of £50 per appointment, payable after the tattoo is complete.
    </p>
        <form method="POST" action="">
            {% csrf_token %}
            <label class="booking-label">date</label>
            <div class="m-3 text-center">
                <select name="date">
                    {% for date in dates %}
                        <option value="{{date}}">{{date}}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="booking-label">design</label>
            <div class="m-3">
                {{form.design}}
            </div>
            <label class="booking-label">preference</label>
            <div class="m-3">
                {{form.preference}}
            </div>
            <div>
                <button type="submit" class="btn btn-dark btn-block m-4">Book</button>
            </div>
            </div>
        </form>
    </div>
</div>


{%endblock%}