{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="img-background mx-auto text-center">
    <h1 class="bold-header">Cancel booking</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <p class="text-dark">Are you sure you want to delete your appointment on <strong>{{ booking.date }}</strong>?</p>
        <button class="btn btn-dark" type="submit">Confirm</button>
        <br>
        <a class="btn btn-dark" href="{% url 'customer-dashboard' %}">Back to dashboard</a>
    </form>
</div>

<div class="img-background mx-auto text-center p-5">
    <p class="text-dark">Or you can keep your appointment and reschedule instead!</p>
    <a class="btn btn-dark m-0" href="{% url 'update-booking' booking.pk %}">Amend booking</a>
</div>

{%endblock%}