{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Upcoming bookings: {{total_bookings}} </h1>
        </div>
    </div>
    <div class="card card-body">
        <table class="table">
            <tr>
                <th><h2>Date</h2></th>
                <th><h2>Time</h2></th>
                <th><h2>Client</h2></th>
                <th><h2>Design</h2></th>
                <th><h2>Tags</h2></th>
                <th><h2>Preference</h2></th>
            </tr>
            {% for booking in bookings %}
                <tr>
                    <td>{{booking.date}}</td>
                    <td>9AM - 10AM</td>
                    <td>{{booking.customer}}</td>
                    <td>{{booking.design}}</td>
                    <td>{% for tags in booking.design.tags.all %} {{ tags }} / {% endfor %}</td>
                    <td>{{booking.preference}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}