{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="img-background mx-auto text-center">
    <h1 class="bold-header">Delete enquiry</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <p class="text-dark">Are you sure you want to delete enquiry from <strong>{{ enquiry.customer }}</strong>?</p>
        <button class="btn btn-dark" type="submit">Confirm</button>
        <br>
        <a class="btn btn-dark" href="{% url 'artist-dashboard' %}">Back to dashboard</a>
    </form>
</div>

{%endblock%}