{% extends "base.html" %}

{% block content %}
<div class="img-background mx-auto">
    <h1 class="bold-header">Update your details</h1>
    <div class="col-md-12 section-column center">
        <form class="form-container" method="POST" action="">
            {% csrf_token %}
            <div class="mb-5">
                {{form.username}}
            </div>
            <div class="mb-5">
                {{form.first_name}}
            </div>
            <div class="mb-5">
                {{form.last_name}}
            </div>
            <div class="mb-5">
                {{form.email}}
            </div>
            <div class="form-submit">
                <a class="btn btn-dark" href="{% url 'customer-dashboard' %}">Back to dashboard</a>
                <button type="submit" class="btn btn-dark btn-block">Update!</button>
            </div>
            {{form.errors}}
        </form>
    </div>
</div>

{%endblock%}