{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="img-background mx-auto text-center">
    <h1 class="bold-header">Enquire</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="booking-label">Image upload</label>
        <div class="m-3 text-center">
            {{form.image}}
        </div>
        <label class="booking-label">Tell me more!</label>
        <div class="m-3">
            {{form.enquiry}}
        </div>
        <div>
            <button type="submit" class="btn btn-dark btn-block m-4">Send Enquiry</button>
        </div>
    </form>
</div>

{%endblock%}