{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/1-tattoo.jpeg" alt="Tattoo of girl"></div>
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/2-tattoo.jpeg" alt="Tattoo of lion"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/3-tattoo.jpeg" alt="Tattoo of mask"></div>
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/4-tattoo.jpeg" alt="Tattoo of tiger"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/5-tattoo.jpeg" alt="Tattoo of vampire"></div>
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/6-tattoo.jpeg" alt="Tattoo of tiger"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/7-tattoo.jpeg" alt="Tattoo of microphone"></div>
        <div class="col-6 col-md-4 p-0"><img class="img-fluid" src="/static/assets/images/8-tattoo.jpeg" alt="Tattoo of lion"></div>
    </div>
</div>

{%endblock%}