{% extends "base.html" %}

{% block content %}

{% include "artist.html" %}

<img class="home-image" src="/static/assets/images/studio.jpg" alt="Photo of the Bee Inspired studio">

{% include "studio.html" %}

<section class="container-fluid">
    <div class="row">
        <h1>Reviews</h1>
        {% for review in reviews %}
            <div class="col mb-3">
                <p class="studio-address">{{ review.customer }}</p>
                <br>
                <p class="studio-address"><strong>Rating: {{ review.rating }}</strong> </p>
                <p class="studio-address">{{ review.recommend }}</p>
                <p class="studio-address">{{ review.review }}</p>
            </div>
        {% endfor %}
    </div>
</section>

{%endblock%}