{% extends "base.html" %}

{% block content %}

<div class="img-background mx-auto">
    <h1 class="bold-header">login</h1>
    <div class="col-md-12 section-column center">
        <form class="form-container" method="POST" action="">
            {% csrf_token %}
            <div>
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            {% for message in messages %}
                <h4>{{message}}</h4>
            {% endfor %}
            <div class="mb-5">  
                <button type="submit" class="btn btn-dark btn-block mt-4">Login</button>
                <br>
                <a class="login-link" href="{% url 'register' %}">Don't have have an account?</a>
            </div>
        </form>
    </div>
</div>

{%endblock%}