{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="img-background mx-auto text-center">
    <h1 class="bold-header">Leave a review!</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label class="booking-label">Rating out of 5</label>
        <div class="m-3 text-center">
            {{form.rating}}
        </div>
        <label class="booking-label">How likely are you to recommend me?</label>
        <div class="m-3 text-center">
            {{form.recommend}}
        </div>
        <label class="booking-label">Any other feedback for me?</label>
        <div class="m-3">
            {{form.review}}
        </div>
        <div>
            <button type="submit" class="btn btn-dark btn-block m-4">Submit</button>
        </div>
    </form>
</div>

{%endblock%}