{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="img-background mx-auto text-center">
    <h1 class="login-header">Update booking</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label class="booking-label">date</label>
            <div class="m-3 text-center">
                <select name="date">
                    {% for date in dates %}
                        <option value="{{date}}">{{date}}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="booking-label">design</label>
            <div class="m-3">
                {{form.design}}
            </div>
            <label class="booking-label">preference</label>
            <div class="m-3">
                {{form.preference}}
            </div>
            <div>
                <a class="btn btn-dark btn-block m-4" href="{% url 'customer-dashboard' %}">Back to dashboard</a>
                <button type="submit" class="btn btn-dark btn-block m-4">Update booking</button>
            </div>
            </div>
        </form>
    </div>
</div>


{%endblock%}