{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="img-background mx-auto text-center">
    <h1 class="bold-header">Update booking</h1>
    <p class="text-dark">
        Current booking is on <strong>{{ booking.date }}</strong> for the flash design of <strong>{{ booking.design }}</strong> with appointment preference of <strong>{{ booking.preference }}</strong>.
    </p>
    <form method="POST" action="">
        {% csrf_token %}
        <label class="booking-label">change date</label>
        <div class="m-3 text-center">
            <select name="date">
                {% for date in dates %}
                    <option value="{{date}}">{{date}}</option>
                {% endfor %}
            </select>
        </div>
        <label class="booking-label">change design</label>
        <div class="m-3">
            {{form.design}}
        </div>
        <label class="booking-label">change preference</label>
        <div class="m-3">
            {{form.preference}}
        </div>
        <div>
            <a class="btn btn-dark btn-block m-4" href="{% url 'customer-dashboard' %}">Back to dashboard</a>
            <button type="submit" class="btn btn-dark btn-block m-4">Update booking</button>
        </div>
        </div>
    </form>
</div>


{%endblock%}